@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body, * {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #484554;
    background: #f8f8f8;
}