.input_box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input_box input {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    outline: none;
    color: #484554;
    width: 100%;
    box-sizing: border-box;
}

.input_box input:focus {
    border: 2px solid #5B9179;
    padding: 0 9px;
}

.input_box input::placeholder {
    color: #DEDEDE;
}

.input_box label {
    font-size: 14px;
    height: 20px;
}