.catalog {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog__title {
    font-size: 20px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}