.button {
    padding: 10px 20px;
    border-radius: 5px;
    background: #6ab04c;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.button:hover {
    background: #538c3b;
}